body
{
    background-color: black;
    color: #FFF;
    font-size: 14px;
}

a
{
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover
{
    cursor: pointer;
    color: orange;
    text-decoration: none;
}

button
{
    background-color: white;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 1px;
}

.content table, .content div
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Wt-dialog
{
    color: black;
}

ul
{
    text-align: left;
}

div.main
{
    width: 1000px;
    margin: 10px auto;
    border: 1px;
    overflow: hidden;
}

div.head
{
    width: 100%;
    height: 335px;
    overflow: hidden;
    float: left;
    background-image: url(img/header.png);
    background-repeat: no-repeat;
}

div.sidebar
{
    float: left;
    width: 250px;
    margin: 5px 5px;
    overflow: hidden;
}

div.border-top
{
    float: left;
    margin-top: 10px;
    width: 100%;
    height: 10px;
    background-image: url(img/border-top.png);
}

div.border-bottom
{
    float: left;
    width: 100%;
    height: 10px;
    background-image: url(img/border-bottom.png);
}

div.menu
{
    float: left;
    width: 100%;
    background-image: url(img/border-mid.png);
    background-repeat: repeat-y;
    overflow: hidden;
}

div.templates
{
    float: left;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    background-image: url(img/border-mid.png);
    background-repeat: repeat-y;
    overflow: hidden;
}

div.langs
{
    margin: auto 0px;
    float: left;
    width: 100%;
    min-height: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-image: url(img/border-mid.png);
    background-repeat: repeat-y;
    overflow: hidden;
}

div.profile-top {}

div.profile
{
    float: left;
    width: 100%;
    overflow: hidden;
    padding: 5px 20px 5px 20px;
}

div.profile-bottom {}

div.content
{
    float: right;
    padding: 20px 10px 10px 10px;
    width: 720px;
    overflow: hidden;
    min-height: 500px;
}

div.footer
{
    clear: both;
    min-height: 50px;
    text-align: center;
}

.menu ul
{
    padding-left: 18px;
    list-style: none;
#    list-style-type: none;
#    list-style-image: url(img/ul.png);
}

.menu * .item
{
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.menu * .item a
{
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.menu a
{
    background-image: url(img/menuitem.jpg);
    display: block;
    width: 205px;
    background-repeat: no-repeat;
    line-height: 30px;
    color: white;
    text-decoration: none;
    padding-left: 15px;
    font-weight: normal;
}

.menu a:hover
{
    width: 205px;
    height: 30px;
    color: black;
    font-weight: bold;
    background-image: url(img/menuitemhover.jpg);
}

.menu * .itemselected
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu * .itemselected a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

p
{
    text-align: justify;
}

table, th, td
{
    border: 2px solid gray;
    padding: 2px 5px 2px 5px;
    text-align: center;
    vertical-align: middle;
}

.Wt-loading
{
    color: black;
}
