/*
*    HG Players Panel - web panel for HellGround server Players
*    Copyright (C) 2011 HellGround Team : Siof, lukaasm,
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Affero General Public License as
*    published by the Free Software Foundation, either version 3 of the
*    License, or (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/********************************************//**
 * \addtogroup Configuration
 * \{
 *
 * \file config.h.dist
 * This file contains variables which should be configured before program compilation.
 * To proper work program needs to copy variables from this file to config.h and to set them.
 *
 ***********************************************/


#ifndef CONFIG_H_INCLUDED
#define CONFIG_H_INCLUDED

#define SHOW_DATABASE_ERRORS    /**< Comment if you don't want to show database errors on error page */

//#define DEBUG /**< Uncomment to show some debug informations */
//#define DEBUG_DATABASE /**< Uncomment to show some database debug informations (moved to separate option to reduce unneeded debug spam ;) ) */

#define SITE_TITLE  "HellGround Player's Panel" /**< Players panel site title (should be replaced with text from DB) */

#define SITE_NAME   "HellGround"

#define SQL_HOST        "serverhost"        /**< server database host */
#define SQL_LOGIN       "serverlogin"       /**< server database login */
#define SQL_PASSWORD    "serverpassword"    /**< server database password */
#define SQL_PORT        3306                /**< mysql server port for server (default is 3306) */

#define PANEL_SQL_HOST  "panelhost"         /**< panel database host */
#define PANEL_SQL_LOGIN "panellogin"        /**< panel database login */
#define PANEL_SQL_PASS  "panelpassword"     /**< panel database password */
#define PANEL_SQL_PORT  3306                /**< mysql server port for panel (default is 3306) */

#define SQL_REALMDB     "realmdb"           /**< realm database name */
#define SQL_CHARDB      "charactersdb"      /**< characters database name */
#define SQL_WORLDDB     "worlddb"           /**< world database name */
#define SQL_PANELDB     "paneldb"           /**< panel database name */

#define PASSWORD_ASCII_START    33          /**< ASCII id for first character which can be used to password generation */
#define PASSWORD_ASCII_END      126         /**< ASCII id for last character which can be used to password generation */

#define PASSWORD_LENGTH_MIN     8           /**< Minimum password length */
#define PASSWORD_LENGTH_MAX     16          /**< Maximum password length */

#define LOGIN_LENGTH_MIN        8           /**< Minimum login length */
#define LOGIN_LENGTH_MAX        16          /**< Maximum login length */

#define MAIL_FROM   "kontakt@gamefreedom.pl"    /**< email addres for "from" clause */

#define MAIL_HOST  "localhost"  /**< host for emails */
#define MAIL_USER  "root"       /**< login to email host */
#define MAIL_PASS  "root"       /**< pass to email host */

#define REGISTRATION_ENABLED    /**< comment this to disable registration */

#define SHOW_EMAIL_CHARACTERS_COUNT 2   /**< how many email address characters should be visible in information page (0 - show all) */
#define EMAIL_HIDE_CHAR             '*' /**< character which should be displayed in hidden place */
#define EMAIL_HIDE_CHAR_COUNT       4   /**< how many EMAIL_HIDE_CHAR characters should be displayed (0 - same count as hidden email characters) */
#define HIDE_EMAIL_DOMAIN               /**< if defined then domain will be also hidden */

#define REALM_NAME  "HellGround"    /**< Realm name. */

#define STATUS_SOURCE   ""      /**< Http address with status to parse */

#endif // CONFIG_H_INCLUDED

/**< \} */
