# WARNING
# ALL VALUES CAN'T HAVE # CHARACTER COUSE REST OF LINE WILL BE TREATED LIKE COMMENT !!!!!!!

# default template options
#   name 
#     Name of default template
#     Default: default
#   style.path 
#     Relative path to directory with default template style.css file
#     Default: res/templates/default
#   file.path 
#     Relative path to directory with default template template file
#     Default: res/template/default
[template]
name=default
style.path=res/templates/default
file.path=res/templates/default

# language options
#   file.path 
#     Relative path to default (en) file with texts for panel - without extension !
#     Rest of localized files should have same name with addition depends on language (for example: panel.xml is for english and panel_pl.xml is for polish)
#     Default: langs/panel
[language]
file.path=langs/panel

# options for validators
#   login 
#     Validator for account login in regex
#     Default: [a-zA-Z0-9_-]{6-16}  <--- characters, numbers - and _ with minimum length of 6 and maximum 16 signs
[validator]
login=[a-zA-Z0-9_-]{6,16}

# mail options
#   from 
#     Email address which should be added in from clause
#     Default: none@none.none
#   host 
#     Host which will be used to sending mails
#     Default: localhost
#   user 
#     Username to mail account
#     Default: lala
#   password 
#     Password to mail account
#     Default: lala
[mail]
from=none@none.none
host=localhost
user=lala
password=lala

# database general options
#   show.errors
#     Database errors should be visible ?
#     Default: true
[database]
show.errors=true

# Panel database options
#   host
#     Panel database host
#     Default: localhost
#   login
#     Login to panel database
#     Deafult: panel
#   password
#     Password to panel database
#     Default: panel
#   port
#     Port on which we should connect to database
#     Default: 3306
#   name
#     Panel database name
#     Default: panel
[database.panel]
host=localhost
login=panel
password=panel
port=3306
name=panel

# Accounts database options
#   host
#     Accounts database host
#     Default: localhost
#   login
#     Login to accounts database
#     Deafult: accounts
#   password
#     Password to accounts database
#     Default: accounts
#   port
#     Port on which we should connect to database
#     Default: 3306
#   name
#     Accounts database name
#     Default: accounts
[database.accounts]
host=localhost
login=panel
password=panel
port=3306
name=accounts

# Accounts email options
#   show.char.count
#     How many characters from email should be shown
#     Default: 2  (set to <= 0 if you don't want to hide account email)
#   hide.char.count
#     How many characters should be added after those from show.char.count option - for hiding email length
#     Default: 4 (set to <= 0 if you wan't to have same hidden characters as rest of email address - if you don't want to hide email length)
#   hide.character
#     Character which should be added to hide parts of email
#     Default: *
#   hide.domain
#     Should we also hide email domain ? (option is using above options for hiding)
#     Default: true
[email]
show.char.count=2
hide.char.count=4
hide.character=*
hide.domain=true

# Server eneral options
#   allow.two.side.accounts
#     Is server allowing two side accounts ? option for restore character feature
#     Default: false
#   registration.enabled
#     Is registration enabled ?
#     Default: true
#   realms.count
#     Count of realms which panel should handle
#     Default: 1
#   max.characters.per.realm
#     Maximum characters for one realm
#     Default: 10 (client restrictions)
#   max.characters.per.account
#     Maximum characters for one account (counts multiple realms)
#     Default: 50
#   starting.expansion
#     Expansion which should be setted for new accounts
#     Default: 1 (The Burning Crusade)
[server]
allow.two.side.accounts=false
registration.enabled=true
realms.count=1
max.characters.per.realm=50
max.characters.per.account=10
starting.expansion=1

# General options
#   debug
#     Debug level as mask - 0 none, 1 code, 2 database
#     Default: 0 
#   log
#     Log level as mask - 0 none, 1 DB Query, 2 DB errors, 4 invalid data, 8 strange data
[options]
debug=0
log=3

# Genaral password options
#   length.min
#     Minimal length of password
#     Default: 6
#   length.max
#     Maximum length of password
#     Default: 16
[password]
length.min=6
length.max=16

# Password genaration options
#   ascii.start
#     Id of ascii char from which we should randomly pick characters for password generation
#     Default: 33
#   ascii.stop
#     Id of ascii char to which we should randomly pick characters for password generation
#     Default: 126
[password.generation]
ascii.start=33
ascii.stop=126

# Generatl interval options
#   update.characters
#     Interval for update characters informations in characters page.
#     Default: 5 (seconds)
#   vote
#     Interval for voting on same vote list.
#     Default: 12 (hours)
[interval]
update.characters=5
vote=12

# Options to limit activity show
#   panel
#     How many records should be shown from panel activity.
#     Default: 100
#   server
#     How many records should be shown from server activity.
#     Default: 100
[activity.limit]
panel=100
server=100

# Locations for races - for teleport feature
#   map
#     Map id
#   zone
#     Zone id
#   x
#     X coord
#   y
#     Y coord
#   z
#     Z coord
#
# NOTE: default values are from HG DB

[race.location.human]
map=0
zone=12
x=-8949.95
y=-132.493
z=83.5312

[race.location.orc]
map=1
zone=14
x=-618.518
y=-4251.67
z=38.718

[race.location.dwarf]
map=0
zone=1
x=-6240.32
y=331.033
z=382.758

[race.location.nightelf]
map=1
zone=141
x=10311.3
y=832.463
z=1326.41

[race.location.undead]
map=0
zone=85
x=1676.71
y=1678.31
z=121.67

[race.location.tauren]
map=1
zone=215
x=-2917.58
y=-257.98
z=52.9968

[race.location.gnome]
map=0
zone=1
x=-6240.32
y=331.033
z=382.758

[race.location.troll]
map=1
zone=14
x=-618.518
y=-4251.67
z=38.718

[race.location.bloodelf]
map=530
zone=3431
x=10349.6
y=-6357.29
z=33.4026

[race.location.draenei]
map=530
zone=3526
x=-3961.64
y=-13931.2
z=100.615


# Realms informations - for server status feature and many other
#   name
#     Name of realm - which should be displayed
#   statusurl
#     Url to file with serwer status informations
#   additional
#     Text with additional informations about realm
#   id
#     Realm id
#   dbhost
#     Realm data database host
#   dblogin
#     Realm data database login
#   dbpass
#     Realm data database password
#   dbport
#     Realm data database port
#   dbname
#     Realm data database name

[server.realm.info.0]
name=HellGround
statusurl=http://logon.hellground.net/parser.irc
additional=bla bla bla
id=1
dbhost=host.host
dblogin=login
dbpass=pass
dbport=3306
dbname=realm

